On the datasources document for the hackathon, it says that the database is the one we used before, but using a new schema.

In [1]:
host = 'data-wrangling-batch3.cl9uj9cucww7.eu-west-1.rds.amazonaws.com'
port = 5432
database = 'datawrangling'
user = 'ldsa_student'
password = 'JGIYc6jD' # replace with the datab ase password!

We will use sqlalchemy to create a database connection (psycopg2 would work as well).

In [2]:
from sqlalchemy import create_engine

In [3]:
db_string = f"postgres://{user}:{password}@{host}:{port}/{database}"

db = create_engine(db_string)

In [4]:
conn = db.connect()

Check the tables under the schema we care about.

In [5]:
conn.execute("""
SELECT
   *
FROM
   pg_catalog.pg_tables
WHERE
   schemaname != 'pg_catalog'
AND schemaname != 'information_schema';
""").fetchall()

[('blu03', 'movie_genre', 'ldsa_instructor', None, True, False, True, False),
 ('blu03', 'oscar', 'ldsa_instructor', None, True, False, True, False),
 ('blu03', 'actor', 'ldsa_instructor', None, True, False, True, False),
 ('blu03', 'genre', 'ldsa_instructor', None, True, False, True, False),
 ('blu03', 'movie_actor', 'ldsa_instructor', None, True, False, True, False),
 ('blu03', 'movie', 'ldsa_instructor', None, True, False, True, False),
 ('hackathon', 'scraping', 'ldsa_instructor', None, True, False, False, False),
 ('hackathon_students', 'targets', 'ldsa_instructor', None, True, False, False, False),
 ('hackathon_students', 'storeid', 'ldsa_instructor', None, True, False, False, False)]

So we see that under the schema `hackathon_students` there are 2 tables: `targets` and `storeid`.

In [6]:
import pandas as pd

In [7]:
targets = pd.read_sql('select * from hackathon_students.targets', conn)

In [8]:
targets.head()

                                 id  returned
0  30a4f1f8fe972af4c4d6f9798cf9c33b         0
1  f49854fba8e59176359f2799470f9236         1
2  84c86c643122e32c1da3b696e75475b7         0
3  e6eb32e8d853b6f7fb20d117187770f1         0
4  595dcea7649b3fd5be29f02ac992a368         0

In [9]:
storeids = pd.read_sql('select * from hackathon_students.storeid', conn)

In [10]:
storeids.head()

                                 id storeid
0  a0ef54d140f90a214b247122aa904a34    None
1  f6a49384a330443b81b98a96577df0a8    None
2  01d09bdf4102f970a82e7b4421ffa47c     API
3  96786bbf20d1021817be82cf30342b90    None
4  1e3c3e7d6efbd87757d1bcbad8c12c6d    None

In [11]:
targets = targets.set_index('id')
storeids = storeids.set_index('id')

In [12]:
targets.to_pickle('data/clean/targets.pkl')
storeids.to_pickle('data/clean/storeids.pkl')